{% extends 'base.html' %}
{% block title %}Login{% endblock title %}Changed

{% block RegisterStyle %}
<link rel="stylesheet" href="{{ url_for('static',filename='LoginStyle.css') }}" />
{% endblock %}
{% block content %}
<div class='signUp'>
    <form action="/login" method="post">

        <div class='input-control'>
            <label for='emailaddress'></label>
            {{form.email(placeholder="Enter E-Mail")}}
            {% for error in form.email.errors %}

            <small style="color:red">{{error}} <br></small>

            {% endfor %}
        </div>

        <div class='input-control'>
            <label for='password'></label>
            {{form.password(placeholder="Enter Password")}}
            {% for error in form.password.errors %}
            <span style="color:red;">
                <small>{{error}} <br></small>
            </span>
            {% endfor %}
        </div>

        <button type="submit">LOGIN</button>


    </form>
</div>



{% endblock %}