{% extends 'base.html' %}

{% block title %}Note{% endblock title %}
{% block NoteStyle %}
<link rel="stylesheet" href="{{ url_for('static',filename='NoteStyle.css') }}" />
{% endblock %}
{% block content %}
<div class="container m-5 p-2 rounded mx-auto bg-light shadow">


    <!-- Create todo section -->
    <div class="row m-1 p-3">
        <div class="col col-11 mx-auto">
            <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                <div class="col">
                    <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded"
                        type="text" placeholder="Add Note">
                </div>                
                <div class="col-auto px-0 mx-0 mr-2">
                    <button type="button" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>
    <div class="p-2 mx-4 border-black-25 border-bottom"></div>
    <!-- View options section -->

    <!-- Todo list section -->
    <div class="row mx-1 px-5 pb-3 w-80">
        <div class="col mx-auto">
            <!-- Todo Item 1 -->
            <div class="row px-3 align-items-center todo-item rounded">                
                <div class="col px-1 m-1 d-flex align-items-center">
                    <input type="text"
                        class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                        readonly value="Buy groceries for next week" title="Buy groceries for next week" />
                </div>
                <div class="col-auto m-1 p-0 px-3">
                    <div class="row">
                        <div class="col-auto d-flex align-items-center rounded bg-white border border-warning">
                            <button type="button" class="btn btn-warning btn-sm m-1"><i class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-sm m-1"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Todo Item 2 -->
            <div class="row px-3 align-items-center todo-item rounded">
                
                <div class="col px-1 m-1 d-flex align-items-center">
                    <input type="text"
                        class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3"
                        readonly value="Renew car insurance" title="Renew car insurance" />
                </div>
                <div class="col-auto m-1 p-0 px-3">
                    <div class="row">
                        <div class="col-auto d-flex align-items-center rounded bg-white border border-warning">
                            <button type="button" class="btn btn-warning btn-sm m-1"><i class="far fa-edit"></i></button>
                            <button type="button" class="btn btn-danger btn-sm m-1"><i class="fas fa-trash-alt"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}