{% extends 'base.html' %}
{% block title %}Register{% endblock title %}
{% block RegisterStyle %}
<link rel="stylesheet" href="{{ url_for('static',filename='RegisterStyle.css') }}" />
{% endblock %}
{%block content %}
<div class='signUp'>
    <form>
        <div class='input-control'>
            <input type='name' placeholder="Name" />
        </div>
        <div class='input-control'>
            <label for='email'></label>
            <input type='email' placeholder="Enter E-Mail" />
        </div>
        <div class='input-control'>
            <label for='emailConfirm'></label>
            <input type='emailConfirm' placeholder="E-Mail Confirm" />
        </div>
        <div class='input-control'>
            <label for='password'></label>
            <input type='password' placeholder="Enter Password" />
        </div>
        <button type="button">LOGIN</button>
    </form>
</div>


{% endblock %}